<section id="header" class="position-relative vh-100 pt-[4.5rem]">
  <div class="background h-100 w-100"></div>
  <div class="header-container pt-[4.5rem] position-absolute top-0 d-flex w-100 h-100">
    <div class="header-content ml-[7.5rem] max-w-[23.3rem] min-h-[14rem] mt-auto mb-auto">
      <div class="header-title mr-[-0.7rem] d-flex flex-wrap">
        <div class="words mb-[-0.1rem] mr-[.2rem] text-[2.25rem]">Welcome</div>
        <div class="words mb-[-0.1rem] mr-[.2rem] text-[2.25rem]">back</div>
        <div class="words mb-[-0.1rem] mr-[.2rem] text-[2.25rem]">to</div>
        <div class="words mb-[-0.1rem] mr-[.2rem] text-[2.25rem]">the</div>
        <div class="words mb-[-0.1rem] mr-[.2rem] text-[2.25rem]">Magical</div>
        <div class="words mb-[-0.1rem] mr-[.2rem] text-[2.25rem]">Garage.</div>
      </div>
      <div class="header-btn d-flex">
        <a href="#" class="header-btn-link rounded-[1.1428571429rem] text-[.9rem] p-[0.3rem_1.1428571429rem] text-decoration-none d-flex mt-3">
          <span class="btn-text">Discover now</span>
          <span class="btn-icon h-[1rem] w-[1rem] ml-[0.5714285714rem] align-self-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.121 19.728l-.707-.707 7.07-7.071-7.07-7.071.707-.707 7.07 7.07h.001l.707.708-7.778 7.778z" fill="currentColor" fill-rule="evenodd"></path></svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="second-header" class="position-relative p-0 vh-100" appGetHeader>
  <div class="background h-100 w-100 d-none d-xl-block"></div>
  <div class="background-1023 h-100 w-100 d-none d-md-block d-xl-none"></div>
  <div class="background-767 h-100 w-100 d-block d-md-none"></div>
  <div class="header-container pt-[4.5rem] position-absolute top-0 d-flex w-100 h-100">
    <div class="header-content ml-[7.5rem] max-w-[23.3rem] min-h-[14rem] mt-auto mb-auto">
      <div class="header-title mr-[-0.7rem] d-flex flex-wrap">
        <div class="words mb-[-0.1rem] mr-[.2rem] text-[2.25rem]">Project</div>
        <div class="words mb-[-0.1rem] mr-[.2rem] text-[2.25rem]">MAYBACH</div>
      </div>
      <div class="header-btn d-flex">
        <a href="#" class="header-btn-link rounded-[1.1428571429rem] text-[.9rem] p-[0.3rem_1.1428571429rem] text-decoration-none d-flex mt-3">
          <span class="btn-text">Discover now</span>
          <span class="btn-icon h-[1rem] w-[1rem] ml-[0.5714285714rem] align-self-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.121 19.728l-.707-.707 7.07-7.071-7.07-7.071.707-.707 7.07 7.07h.001l.707.708-7.778 7.778z" fill="currentColor" fill-rule="evenodd"></path></svg>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="sub-description p-[1.1428571429rem_7.5rem] position-absolute bottom-0 end-0 start-0 w-100 d-flex justify-content-start">
    <div class="text-container mb-[.5rem]">
      <span class="sentences text-[.9rem]">Mercedes-Maybach S-Klasse „Maybach by Virgil Abloh” S 680: </span>
      <span class="sentences text-[.9rem]">WLTP: Kraftstoffverbrauch kombiniert: </span>
      <span class="sentences text-[.9rem]">14,3-13,4 l/100 km; </span>
      <span class="sentences text-[.9rem]">CO₂-Emissionen kombiniert: </span>
      <span class="sentences text-[.9rem]">326-304 g/km¹</span>
    </div>
  </div>
</section>
