// navbar-var
$top-navigation-color: #767676;
$top-navigation-hover: white;
$navbar-nav-color: white;
$navbar-nav-hover: #767676;
$navbar-nav-backdrop: blur(25px);
$navbar-nav-background-color: rgba(0,0,0,.72);
$navbar-background-color: black;
$navbar-mobile-text-color: #767676;
$navbar-mobile-hover-color: white;
$pri-text-color: black;
$pri-tab-color: black;
$pri-tab-active-color: #00adef;
$pri-tab-border-active-color: #ccc;
$pri-link-color: #00adef;
$pri-link-hover-color: #0088c6;
$search-focus-color: rgba(0, 141, 252, 0.8);
$search-icon-color: #767676;
$search-text-color: white;
$search-placeholder-color: #767676;
$login-text-color: black;
$login-text-hover-color: white;
$login-background-hover: #4eaffd ;
$login-background-color: white;
$full-screen-text-color: white;
$full-screen-divider: linear-gradient(270deg,rgba(38,38,38,.16),#262626,rgba(38,38,38,.16));
$full-screen-divider-language: #767676;
$full-screen-language-color: #767676;
$full-screen-language-hover-color: white;
$full-screen-privacy-btn-color: #767676;
// header-var
$header-text-color: white;
$header-btn-color: black;
$header-btn-background: white;
$header-btn-hover-background: #4eaffd ;
$header-btn-hover-text: white;
$header-footer-color: #bbb;
$header-mobile-footer-color: black;
// teasers-var
$innovation-text-color: black;
$innovation-btn-color: black;
$innovation-btn-background: white;
$vehicles-text-color: black;
$vehicles-btn-color: black;
$vehicles-btn-background: white;
$sustainability-text-color: black;
$sustainability-btn-color: black;
$sustainability-btn-background: white;
$art-text-color: black;
$art-btn-color: black;
$art-btn-background: white;
$vehicles-2-text-color: black;
$vehicles-2-btn-color: black;
$vehicles-2-btn-background: white;
// fifty-var
$fifty-year-text-color: white;
$fifty-year-background-color: black;
$fifty-year-des-color: white;
$fifty-year-btn-color: black;
$fifty-year-btn-background: white;
$fifty-year-btn-hover-background: #4eaffd ;
$fifty-year-btn-hover-text: white;
// social
$social-icon-color: black;
$social-title-color: black;
// scrolling-footer
$scrolling-footer-title-color: #767676;
$scrolling-footer-title-active-color: white;
$scrolling-footer-background-color: black;
$scrolling-footer-menu-hover: white;
$scrolling-footer-menu-color: #767676;
// footer-more
$footer-more-title-color: white;
$footer-more-column-color: #999;
$footer-more-MORE-color: white;
$footer-more-background: black;
$footer-more-column-color-hover: white;
//spacer
$spacer-color: #333;
// footer-description
$footer-description-background: black;
$footer-description-text-color: #919191;
$footer-description-legend-color: #696969;
// footer-navigation
$footer-navigation-background: black;
$footer-navigation-text-color: #9f9f9f;
$footer-navigation-hover-color: white;
$footer-navigation-lan-color: #767676;
$footer-navigation-lan-divider: #767676;
