div{
  .back-section{
    padding: 1rem 2rem 1.2rem;
    .back-icon{
      left: 2.25rem;
      color: white !important;
      svg{
        padding: 0.1rem 0.1rem 0.2rem;
        height: 1.3571428571rem;
        transform: rotate(180deg);
        width: 1.3571428571rem;
      }
    }
    .text{
      color: white;
      font-size: .95rem;
    }
  }
}
